<h1><%= @title %></h1>
<%= simple_form_for (@user) do |f|%>
   <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, label: "Confirmation" %>
    <%= f.submit :class => 'btn btn-info'  %>
<%end%>

